

<br>
<br>
<br><br>
<br>
<br>

    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/nosotros.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <p class="ae-u-bolder">Nosotros</p>
          <p>Somos una empresa peruana experta en telecomunicaciones. Llevamos más
            de 10 años brindando tranquilidad y confianza a nuestros clientes 
            a nivel nacional usando equipos , tecnología y un equipo humano comprometido
            con la calidad y el servicio. Contamos con un área especializada en networking,
            trabajamos en la actualidad con grandes empresas líderes en su rubro, teniendo presencia
            en todos sus puntos a nivel nacional. Como visión tenemos el posicionarmos como 
            una empresa lider hacia el desarrollo e innovación en los campos tecnológicos de 
            vanguardia, que garantice la sostenibilidad en un mundo de constantes cambios y una
            desafiante transformación tecnológica en la industria. </p>
          
        </div>
      </div>

    </div>
