<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a routerLink="">GNETCOM<sup>tm</sup></a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item" routerLinkActive="active"><a routerLink="inicio" class="rk-menu__link">Inicio</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a  routerLink="nosotros" class="rk-menu__link">Nosotros</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a  routerLink="directiva" class="rk-menu__link">Directiva</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a  routerLink="areas" class="rk-menu__link">Areas</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a  routerLink="logros" class="rk-menu__link">Logros</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a  routerLink="contacto" class="rk-menu__link">Contacto</a>
          </li>
        </ul>
        
      </nav>
    </div>
  </header>