
    <header class="rk-portfolio-cover  item-inside-1">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">GNETCOM</h1>
        <p class="ae-theta rk-portfolio-category ">Bienvenidos</p>
      </div>
    </header>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <!-- <h4 class="ae-u-bolder">Full Wide Text</h4> -->
          <p class="ae-eta">GNETCOM es una empresa especializada en el desarrollo e implementación de Soluciones Integrales, 
            en las áreas de Telecomunicaciones como : Networking, fibra óptica y comunicaciones inalámbricas. Nuestra propuesta
            está basada en proveer soluciones para cubrir las necesidades de nuestros clientes con el fin de mejorar sus procesos 
            productivos. Nuestra organización cuenta con un alto perfil profresional basado en la experiencia, capacidad técnica
            y humana, estableciendo estratégias y visión para el futuro.
          </p>

        </div>
    </div>
      
