<div class="ae-container-fluid ae-container-fluid--inner rk-main">

    <div class="row col-md-auto">
        <div class="ae-grid au-md-ta-center au-mb-2 ">
            <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
              <div class="card border-danger mx-sm-1 p-3">
                  <div class="text-danger text-center mt-3"><h4>Proyectos Culminados</h4></div>
                  <div class="text-danger text-center mt-2"><h1>53</h1></div>
              </div>
            </div>
      
            <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
              <div class="card border-info mx-sm-1 p-3">
                  <div class="text-info text-center mt-3"><h4>Años de experiencia</h4></div>
                  <div class="text-info text-center mt-2"><h1>5</h1></div>
              </div>
            </div>
            <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
              <div class="card border-success mx-sm-1 p-3">
                  <div class="text-success text-center mt-3"><h4>Certificaciones</h4></div>
                  <div class="text-success text-center mt-2"><h1>8</h1></div>
              </div>
            </div>
          </div> 
    </div>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">Clientes Fidelizados</h4>
          <div class="ae-grid au-xs-ta-center au-mb-5" >
            
            <div class="ae-grid__item item-lg-3 ae-kappa au-mb-3" *ngFor="let cliente of clientes">
                <img src="{{cliente.image}}" alt="" class="au-mb-3">
            </div>
            
          </div>

        </div>
    </div>
 

  </div>