<br>
<br>
<br>
<br>
<br>
<div class="container text-center">

    <div class="row align-items-center mb-3" *ngFor="let area of areas">
      <div class="col">
        <p class="fs-4">{{area.nombre}}</p>
      </div>
      <div class="col">
        <img src="{{area.image}}" class="rounded float-end" alt="...">
      </div>
    </div>


   
  </div>