<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid au-xs-ta-center au-mb-5" >
      <div class="ae-grid__item item-lg-3 ae-kappa au-mb-3" *ngFor="let info of infos">
        <img src="assets/img/directivo.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{info.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{info.descripcion}}</p>
        <!-- <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p><a href="#0" class="ae-u-bolder au-underline">@robertwilliams</a> -->
      </div>
    </div>
</div>