<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a href="" class="rk-menu__link"> 01 451 8596 Anexo 3</a>
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">2022 GNETCOM </span></p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="#0" class="rk-social-btn ">
         
        </a></div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Correo: </span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-color ">intercomunica@gnetcom.pe </a></span></p>
        <p class="rk-footer__text rk-footer__by"> <a href="" class="ae-u-bolder"></a></p>
      </div>
    </div>
  </footer>